<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{character['name']}}'s Page</title>
</head>
<body>
    <div id="wrapper">
        <div id="core">
            <div id="base">
                <p>Name: {{character['name']}}</p>
                <p>Race: {{character['race']}}</p>
                <p>Class: {{character['characterClass']}} {{character['level']}}</p>
            </div>
            <div id="stats">
                <p>Strength: {{character.ability['str']}}</p>
                <p>Dexterity: {{character.ability['dex']}}</p>
                <p>Constitution: {{character.ability['con']}}</p>
                <p>Wisdom: {{character.ability['wis']}}</p>
                <p>Intelligence: {{character.ability['int']}}</p>
                <p>Charisma: {{character.ability['cha']}}</p>
            </div>
        </div>
        <div id="health">
            <p>HP</p>
            <p>{{character['hp']}}</p>
        </div>
        <div id="profs">
            <div id="names">
                <p>Athletics:</p>
                <p>Acrobatics:</p>
                <p>Sleight of Hand:</p>
                <p>Stealth:</p>
                <p>Arcana:</p>
                <p>History:</p>
                <p>Investigation:</p>
                <p>Nature:</p>
                <p>Religion:</p>
                <p>Animal Handling:</p>
                <p>Insight:</p>
                <p>Medicine:</p>
                <p>Perception:</p>
                <p>Survival:</p>
                <p>Deception:</p>
                <p>Intimidation:</p>
                <p>Performance:</p>
                <p>Persuasion:</p>
            </div>
            <div id="values">
                {%for skill in character['skills']%}
                    <p>{{skill}}</p>
                {%endfor%}
            </div>
        </div>
    </div>
</body>
</html>